<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="carpeta-imagenes" value="C:\Users\argos\Desktop\poke-app\"/>
		<add key="conexion-db" value=" ejemplo ruta de conexion"/>
	</appSettings>
</configuration>